<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sport-Zone | {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    {% block extra_css %}{% endblock %}
    <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='90'>⚡</text></svg>">
    {% block head_scripts %}{% endblock %}
    <!-- React -->
    <script src="https://unpkg.com/react@18/umd/react.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
</head>
<body>

    {% include 'components/navbar.html' %}

    <!-- React App Root -->
    <div id="root"></div>

    {% block footer %}
    {% include 'components/footer_simple.html' %}
    {% endblock %}

    <script src="{% static 'js/users/auth.js' %}"></script>
    <script type="text/babel" src="{% static 'js/common.js' %}"></script>
    {% block extra_scripts %}{% endblock %}

</body>
</html>

